:root {
    --text-color: #7d5438;
    --text-huruf-sambung: #4d2b24;
    --black: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --background-button: #cfaa8e;
    --white: #e4e0d3;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Lora', sans-serif;
    min-height: 4000px;
}

.container {
    max-width: 471px;
    width: 100%;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.huruf-sambung {
    font-family: 'SymphonyPro-Regular', cursive;
    color: var(--text-huruf-sambung);
}

.hero {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.hero .flower1 {
    position: absolute;
    width: 100%;
    right: 95px;
    top: 20px;
    z-index: 1;
}

.hero .flower1 img {
    width: 250px;
    height: 350px;
}

.hero .flower2 {
    position: absolute;
    width: 100%;
    left: 118px;
    top: 400px;
    z-index: 1;
    animation: myFlower linear 10s infinite;
}
.hero .flower2 img {
    width: 250px;
    height: 300px;
}

.hero .flower3 {
    position: absolute;
    width: 100%;
    left: 178px;
    top: 290px;
    z-index: 1;
    animation: myFlower linear 10s infinite;
}

.hero .flower3 img {
    width: 150px;
    height: 200px;
}

.hero .dekorasi {
    position: absolute;
    width: 100%;
    top: 310px;
    right: 60px;
}

.hero .dekorasi2 {
    position: absolute;
    width: 100%;
    top: 310px;
    right: -64px;
}

.hero .dekorasi img,
.hero .dekorasi2 img {
    width: 150px;
    height: 50px;
}

.hero .dekorasi2 img {
    transform: rotateY(180deg);
}

.hero h4 {
    color: var(--text-color);
    font-size: 1.5rem;
    padding-top: 180px;
    margin-bottom: 60px;
    z-index: 1;
    font-weight: 300;
}

.hero h1 {
    font-size: 4.5rem;
    line-height: 50px;
    z-index: 1;
}

.hero h5 {
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 30px 0 5px;
    line-height: 25px;
    z-index: 1;
}

.btn-main {
    position: relative;
    align-items: center;
    background: var(--background-button);
    border: none;
    padding: 10px auto;
    font-size: 1.2rem;
    margin-top: 20px;
    height: 100%;
    color: var(--text-huruf-sambung);
    font-weight: 400;
    z-index: 100;
    transition: .5s;
}

.hero .btn:hover {
    background: var(--text-huruf-sambung);
    color: var(--white); 
}




/* navbar */

/* quote css */

.quote {
    position: relative;
    display: block;
    background-image: url(assets/img/QUOTE.svg);
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow: hidden
}

.quote p {
    margin-top: 280px;
    color: var(--text-color);
    text-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.quote h4 {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 800;
    /* text-shadow: var(--shadow); */
}

.quote .logo,
.acara .logo {
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 140px;
}

.quote .logo img,
.acara .logo img {
    width: 100px;
    height: 100px;
}

.quote .quote-flower1 {
    position: absolute;
    width: 100%;
    right: 150px;
    top: -50px;
}

.quote .quote-flower1 img {
    width: 400px;
    height: 400px;
}

.quote .quote-flower2 {
    position: absolute;
    width: 100%;
    right: 185px;
    bottom: -60px;
}

.quote .quote-flower2 img {
    width: 250px;
    height: 250px;
}

.quote .quote-flower3 {
    position: absolute;
    width: 100%;
    left: 150px;
    bottom: -40px;
}

.quote .quote-flower3 img {
    width: 300px;
    height: 300px;
}

.quote .quote-flower4 {
    position: absolute;
    width: 100%;
    left: 150px;
    top: 50px;
}

.quote .quote-flower4 img {
    width: 150px;
    height: 250px;
}

.quote .footer-section,
.opening .footer-section,
.acara .footer-section,
.lokasi .footer-section,
.doa .footer-section,
.penutup .footer-section {
    position: absolute;
    display: block;
    width: 100%;
    right: -0.4px;
    bottom: 90px;
    z-index: -1;
}

.quote .footer-section img,
.opening .footer-section img,
.acara .footer-section img,
.lokasi .footer-section img,
.doa .footer-section img,
.penutup .footer-section img {
    width: 200px;
    height: 100px;
}

/* opening css */

.opening {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

.opening h3 {
    display: block;
    padding-top: 170px;
    font-size: 2.7rem;
    color: var(--text-color);  
    margin-bottom: 20px;
    z-index: 1;
}

.opening h4 {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    /* text-shadow: var(--shadow); */
}

.opening p {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.opening h1 {
    font-size: 4rem;
}

.opening h5 {
    font-size: 2.3rem;
}

.opening .opening-flower1 {
    position: absolute;
    width: 100%;
    right: 150px;
    top: -50px;
    z-index: -1;
}

.opening .opening-flower1 img {
    width: 400px;
    height: 400px;
}

.opening .opening-flower2 {
    position: absolute;
    width: 100%;
    right: 185px;
    bottom: -60px;
}

.opening .opening-flower2 img {
    width: 250px;
    height: 250px;
}

.opening .opening-flower3 {
    position: absolute;
    width: 100%;
    left: 150px;
    bottom: -40px;
}

.opening .opening-flower3 img {
    width: 300px;
    height: 300px;
}

.opening .opening-flower4 {
    position: absolute;
    width: 100%;
    left: 150px;
    top: 50px;
    z-index: -1;
}

.opening .opening-flower4 img {
    width: 150px;
    height: 250px;
}

/* acara css */
.acara {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/QUOTE.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}


.acara .title {
    display: block;
    font-size: 4rem;
    padding-top: 260px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.isi-acara {
  position: relative;  
  z-index: 10;
}

.isi-acara::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: var(--text-huruf-sambung);
    left: 50%;
}

.acara .card-header {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
}

.acara .card-body {
    display: flex;
    flex-direction: column;
}

.card-body span {
    margin: 5px auto;
}

.acara .card-body .date,
.acara .card-body .clock,
.acara .card-body i {
    color: var(--text-color);
    font-size: 1.3rem;
}

.acara .card-footer {
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 10px auto;
    z-index: 1;
}

.card-footer .btn-calendar {
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.card-footer .btn-calendar:hover {
    background: var(--text-huruf-sambung);
    color: var(--white);
}

.acara .acara-footer {
    margin-top: 15px;
    color: var(--text-color);
    font-size: 1.2rem;
}

.acara .acara-flower1 {
    position: absolute;
    width: 100%;
    right: 150px;
    top: -50px;
    z-index: -1;
}

.acara .acara-flower1 img {
    width: 400px;
    height: 400px;
}

.acara .acara-flower2 {
    position: absolute;
    width: 100%;
    right: 185px;
    bottom: -60px;
    z-index: -1;
}

.acara .acara-flower2 img {
    width: 250px;
    height: 250px;
}

.acara .acara-flower3 {
    position: absolute;
    width: 100%;
    left: 150px;
    bottom: -40px;
    z-index: -1;
}

.acara .acara-flower3 img {
    width: 300px;
    height: 300px;
}

.acara .acara-flower4 {
    position: absolute;
    width: 100%;
    left: 150px;
    top: 50px;
    z-index: -1;
}

.acara .acara-flower4 img {
    width: 150px;
    height: 250px;
}

/* lokasi css */
.lokasi {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.lokasi .title,
.gift .title {
    display: block;
    font-size: 4rem;
    padding-top: 180px;
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}

.lokasi iframe {
    border: solid 1px var(--text-color);
}

.lokasi h3 {
    color: var(--text-huruf-sambung);
    font-size: 1.8rem;
}

.lokasi p {
    color: var(--text-color);
    font-size: 1.1rem;
}

.lokasi a {
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    font-size: 1.2rem;
    box-shadow: var(--shadow);
    z-index: 100;
}

.lokasi a:hover {
    background: var(--text-huruf-sambung);
    color: var(--white);
}

.lokasi .lokasi-flower1 {
    position: absolute;
    width: 100%;
    right: 150px;
    top: -50px;
    z-index: -1;
}

.lokasi .lokasi-flower1 img {
    width: 400px;
    height: 400px;
}

.lokasi .lokasi-flower2 {
    position: absolute;
    width: 100%;
    right: 185px;
    bottom: -60px;
    z-index: -1;
}

.lokasi .lokasi-flower2 img {
    width: 250px;
    height: 250px;
}

.lokasi .lokasi-flower3 {
    position: absolute;
    width: 100%;
    left: 150px;
    bottom: -40px;
    z-index: -1;
}

.lokasi .lokasi-flower3 img {
    width: 300px;
    height: 300px;
}

.lokasi .lokasi-flower4 {
    position: absolute;
    width: 100%;
    left: 150px;
    top: 50px;
    z-index: -1;
}

.lokasi .lokasi-flower4 img {
    width: 150px;
    height: 250px;
}

/* rsvp css */
.rsvp {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/QUOTE.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.rsvp .title {
    padding-top: 130px;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 10px;
    margin: 20px auto;
}

.rsvp h4 {
    font-size: 1.2rem;
    color: var(--text-color);
}

.rsvp-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.rsvp-container .form-label {
    color: var(--text-color);
    font-size: 1rem;
}

.rsvp-container .form-control,
.rsvp-container option {
    color: var(--text-color);
}

.rsvp-container button {
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    width: 6rem;
    letter-spacing: 1.5px;
    box-shadow: var(--shadow);
}

.rsvp-container button:hover {
    background: var(--text-huruf-sambung);
    color: var(--white);
}

#rsvp-display {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 320px;
    height: 170px;
    overflow-y: scroll;
    background-color: rgba(228, 224, 211, .3);
    z-index: 2;
}

#rsvp-list {
    position: absolute;
    display: block;
    list-style: none;
    color: var(--text-color);
    margin: 10px auto;
}

#rsvp-list li {
    text-align: left;
    border-radius: 5px;
    background-color: rgba(255, 2555, 255, .7);
    width: 265px;
    height: 100%;
    margin: 10px auto;
    padding: 5px;
    letter-spacing: .5px;
}

/* gift css */
.gift {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.gift p {
    display: inline-flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 1.5rem;
    width: 100%;
    max-width: 350px;
}

.btn-box {
    display: block;
    width: 50%; 
    max-width: 300px; 
    margin: 15px auto;
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    z-index: 2;
    box-shadow: var(--shadow);
}

.collapse {
    display: none;
}

.show {
    display: block;
}

.btn-box:hover {
    background-color: var(--text-huruf-sambung);
    color: var(--white);
}
.credit-card {
	background: url(assets/img/card-background.png);
	background-size: cover;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: 300px;
	color: var(--text-color);
	position: absolute;
    z-index: 2;
}

.card-logo {
	width: 75px;
	position: absolute;
	top: 15px;
	right: 15px;
}

.card-container {
	display: flex;
	align-items: center;
	margin-top: 50px;
}

#alamat {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#alamat .alamat {
    font-size: 1.1rem;
    color: var(--text-huruf-sambung);
    margin-bottom: 5px;
}

#alamat .card-number {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: 1px;
}

.card-sim {
	width: 30px;
	margin-right: 10px;
}

.card-number {
	font-family: 'Courier New', Courier, monospace;
	font-size: 22px;
}

.card-name {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	text-align: left;
	margin-top: 10px;
}

.copy-button {
	font-family: 'Courier New', Courier, monospace;
	position: absolute;
    width: auto;
    max-width: none;
    margin: 0;
	top: 5px;
	left: 15px;
	background-color: white;
	color: black;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gift .footer-section {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 100px;
    z-index: 1;
}

.gift .footer-section img {
    width: 200px;
    height: 100px;
}

/* doa css */
.doa {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/QUOTE.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

.doa .title {
    display: block;
    font-size: 3.5rem;
    margin-top: 210px;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}

.doa .arab {
    color: var(--text-color);
    font-size: 2.3rem;
}

.doa p {
    display: inline-flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 20px;
    max-width: 100%;
    width: 250px;
}

.doa p span {
    margin: 10px auto;
}

.doa h3 {
    margin-top: 25px;
    color: var(--text-huruf-sambung);
    font-size: 1.5rem;
}

/* penutup section */
.penutup {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
}

.penutup h4 {
    color: var(--text-color);
    font-size: 1.3rem;
}

.penutup h4:nth-child(1) {
    margin-top: 220px;
}

.penutup h4:nth-child(3) {
    margin: 15px auto;
}

.penutup h3 {
    color: var(--text-color);
    font-size: 1.4rem;
}

.penutup h2 {
    font-size: 4.3rem;
    margin: 12px auto;
}

.penutup .keluarga {
    color: var(--text-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.penutup h5 {
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 5.5px;
}





.audio-icon-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    position: fixed;
    bottom: 2.5rem;
    right: 230px;
    z-index: 10;
    cursor: pointer;
    color: var(--text-huruf-sambung);
    opacity: .7;
    animation: discRotate 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes discRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* @keyframes myFlower { 
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(10deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
} */





/* Responsive Design */
@media (max-width: 451px) {
    .container {
        align-items: center;
        max-width: 55%;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }
}
