:root {
    --text-color: #7d5438;
    --text-huruf-sambung: #4d2b24;
    --black: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    --background-button: #cfaa8e;
    --white: #e4e0d3;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: 'Lora', sans-serif;
    min-height: 4000px;
    display: flex;
    flex-direction: column;
}

.custom-container {
    width: 100%;
    max-width: 471px;
    min-height: 100vh;
    margin: 0 auto;
    flex: 1;
}

.huruf-sambung {
    font-family: 'SymphonyPro-Regular', cursive;
    color: var(--text-huruf-sambung);
}

/* hero css */

.hero {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.hero .flower1 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 10rem;
    top: 2rem;
    z-index: 1;
}

.hero .flower1 img {
    width: 25rem;
    height: 35rem;
}

.hero .flower2 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 11.5rem;
    top: 40rem;
    z-index: 2;
    animation: myFlower linear 10s infinite;
}
.hero .flower2 img {
    width: 25rem;
    height: 30rem;
}

.hero .flower3 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 17.5rem;
    top: 30rem;
    z-index: 1;
    animation: myFlower linear 10s infinite;
}

.hero .flower3 img {
    width: 15rem;
    height: 20rem;
}

.hero .dekorasi {
    position: absolute;
    width: 100%;
    height: auto;
    top: 31rem;
    right: 6rem;
    
}

.hero .dekorasi2 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 31rem;
    left: 6.3rem;
}

.hero .dekorasi img,
.hero .dekorasi2 img {
    width: 15rem;
    height: 5rem;
}

.hero .dekorasi2 img {
    transform: rotateY(180deg);
}

.hero h4 {
    color: var(--text-color);
    font-size: 1.5rem;
    padding-top: 18rem;
    margin-bottom: 6rem;
    z-index: 1;
    font-weight: 300;
}

.hero h1 {
    font-size: 4.5rem;
    line-height: 5rem;
    z-index: 1;
}

.hero h5 {
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 3rem 0 .5rem;
    line-height: 2.5rem;
    z-index: 1;
}

.btn-main {
    position: relative;
    align-items: center;
    background: var(--background-button);
    border: none;
    padding: 1rem auto;
    font-size: 1.2rem;
    margin-top: 2rem;
    height: 100%;
    color: var(--text-huruf-sambung);
    font-weight: 400;
    z-index: 100;
    transition: 1s;
    box-shadow: var(--shadow);
}

.hero .btn:hover {
    background: var(--text-huruf-sambung);
    color: var(--white); 
}

/* navbar css */
.mynavbar {
    background-color: rgba(228, 224, 211, .7) !important;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.mynavbar a {
    font-weight: 400;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: .3s;
}

.mynavbar a:hover {
    color: var(--text-huruf-sambung);
}



/* quote css */

.quote {
    position: relative;
    display: block;
    background-image: url(assets/img/QUOTE.svg);
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    overflow: hidden
}

.quote p {
    margin-top: 28rem;
    color: var(--text-color);
    text-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.quote h4 {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.quote .logo,
.acara .logo {
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 14rem;
    z-index: 1;
}

.quote .logo img,
.acara .logo img {
    width: 10rem;
    height: 10rem;
}

.quote .quote-flower1,
.acara .acara-flower1,
.lokasi .lokasi-flower1,
.gift .gift-flower1,
.doa .doa-flower1 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 15rem;
    top: -5rem;
    z-index: 1;
}

.quote .quote-flower1 img,
.acara .acara-flower1 img,
.lokasi .lokasi-flower1 img,
.gift .gift-flower1 img,
.doa .doa-flower1 img {
    width: 40rem;
    height: 40rem;
}

.quote .quote-flower2,
.acara .acara-flower2,
.lokasi .lokasi-flower2,
.gift .gift-flower2,
.doa .doa-flower2 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 20rem;
    top: 52rem;
    z-index: 1;
}

.quote .quote-flower2 img,
.acara .acara-flower2 img,
.lokasi .lokasi-flower2 img,
.gift .gift-flower2 img,
.doa .doa-flower2 img {
    width: 25rem;
    height: 25rem;
}

.quote .quote-flower3,
.acara .acara-flower3,
.lokasi .lokasi-flower3,
.gift .gift-flower3,
.doa .doa-flower3 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 15rem;
    top: 37rem;
    z-index: 1;
}

.quote .quote-flower3 img,
.acara .acara-flower3 img,
.lokasi .lokasi-flower3 img,
.gift .gift-flower3 img,
.doa .doa-flower3 img{
    width: 40rem;
    height: 40rem;
}

.quote .quote-flower4,
.acara .acara-flower4,
.lokasi .lokasi-flower4,
.gift .gift-flower4,
.doa .doa-flower4 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 15rem;
    top: 4rem;
    z-index: 1;
}

.quote .quote-flower4 img,
.acara .acara-flower4 img,
.lokasi .lokasi-flower4 img,
.gift .gift-flower4 img,
.doa .doa-flower4 img {
    width: 15rem;
    height: 25rem;
}

.quote .footer-section,
.opening .footer-section,
.acara .footer-section,
.lokasi .footer-section,
.gift .footer-section,
.doa .footer-section,
.penutup .footer-section {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 52rem;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.quote .footer-section img,
.opening .footer-section img,
.acara .footer-section img,
.lokasi .footer-section img,
.gift .footer-section img,
.doa .footer-section img,
.penutup .footer-section img {
    width: 20rem;
    height: 10rem;
}

/* opening css */

.opening {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/COVER-2.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}


.opening .col-8 {
    z-index: 100;
}

.opening h3 {
    display: block;
    padding-top: 17rem;
    font-size: 2.7rem;
    color: var(--text-color);  
    margin-bottom: 2rem;
    z-index: 1;
}

.opening h4 {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2.5rem;
    /* text-shadow: var(--shadow); */
}

.opening p {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 2rem;
}

.opening h1 {
    margin-top: 2.5rem;
    font-size: 4rem;
}

.opening h5 {
    font-size: 2.3rem;
}

.opening .image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    
}

.opening .opening-bottom img,
.rsvp .opening-bottom img,
.penutup .opening-bottom img {
    width: 100rem;
    height: 32rem;
}

.opening .opening-bottom,
.rsvp .opening-bottom,
.penutup .opening-bottom {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: 46.5rem;
    right: 25rem;
    z-index: 1;
}

.opening .opening-flower2 img {
    width: 18rem;
    height: 45rem;
}

.opening .opening-flower2 {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: -4rem;
    left: -15rem;
    z-index: 5;
}

.opening .opening-flower3 img {
    width: 14rem;
    height: 40rem;
    transform: rotateY(180deg);
}

.opening .opening-flower3 {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: 3rem;
    left: 16rem;
    z-index: 5;
}

.opening .opening-flower4 img {
    width: 50rem;
    height: 50rem;
}

.opening .opening-flower4 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 18rem;
    left: -4rem;
    z-index: 1;
}

.opening .opening-flower5 img {
    width: 40rem;
    height: 40rem;
}

.opening .opening-flower5 {
    position: absolute;
    width: 100%;
    height: auto;
    top: 30rem;
    left: 12rem;
    z-index: 1;
}

.opening .opening-gate {
    position: absolute;
    width: auto;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    
}

.opening .opening-gate img {
    height: 70rem;
    width: 55rem;
    opacity: 1;
}

/* acara css */
.acara {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/QUOTE.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}


.acara .title {
    display: block;
    font-size: 4rem;
    padding-top: 26rem;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.isi-acara {
  position: relative;  
  z-index: 10;
}

.isi-acara::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: var(--text-huruf-sambung);
    left: 50%;
}

.acara .card-header {
    font-size: 2.5rem;
    letter-spacing: 1.2px;
}

.acara .card-body {
    display: flex;
    flex-direction: column;
}

.card-body span {
    margin: .5rem auto;
}

.acara .card-body .date,
.acara .card-body .clock,
.acara .card-body i {
    color: var(--text-color);
    font-size: 1.3rem;
}

.acara .card-footer {
    color: var(--text-color);
    font-size: 1.1rem;
    margin: 1rem auto;
    z-index: 1;
}

.card-footer .btn-calendar {
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.card-footer .btn-calendar:hover {
    background: var(--text-huruf-sambung);
    color: var(--white);
}

.acara .acara-footer {
    margin-top: 1.5rem;
    color: var(--text-color);
    font-size: 1.2rem;
}

/* lokasi css */
.lokasi {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.lokasi .title,
.gift .title,
.doa .title {
    display: block;
    font-size: 4rem;
    padding-top: 20rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.map-information {
    z-index: 100;
}
.lokasi iframe {
    border: solid 1px var(--text-color);
    border-radius: 10px;
    margin: 1rem auto;
}

.lokasi h3 {
    color: var(--text-huruf-sambung);
    font-size: 1.8rem;
}

.lokasi p {
    color: var(--text-color);
    font-size: 1.1rem;
}

.lokasi a {
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    font-size: 1.2rem;
    box-shadow: var(--shadow);
    transition: 1s;
}

.lokasi a:hover {
    background: var(--text-huruf-sambung);
    color: var(--white);
}

.lokasi .logo,
.gift .logo,
.doa .logo,
.penutup .logo {
    position: absolute;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 12rem;
    z-index: 1;
}

.lokasi .logo img,
.gift .logo img,
.doa .logo img,
.penutup .logo img {
    width: 7rem;
    height: 7rem;
}

/* rsvp css */
.rsvp {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/QUOTE-2.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.rsvp .title {
    padding-top: 13rem;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 10px;
    margin: 2rem auto;
}

.rsvp h4 {
    font-size: 1.2rem;
    color: var(--text-color);
}

.rsvp-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
}

.rsvp-container .form-label {
    color: var(--text-color);
    font-size: 1rem;
}

.rsvp-container .form-control,
.rsvp-container option {
    color: var(--text-color);
}

.rsvp-container button {
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    width: 6rem;
    letter-spacing: 1.5px;
    box-shadow: var(--shadow);
    transition: 1s;
}

.rsvp-container button:hover {
    background: var(--text-huruf-sambung);
    color: var(--white);
}

#rsvp-display {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    width: 32rem;
    height: 17rem;
    overflow-y: scroll;
    background-color: rgba(228, 224, 211, .8);
    z-index: 2;
    transition: .5s;
}

#rsvp-list {
    position: absolute;
    display: block;
    list-style: none;
    color: var(--text-color);
    margin: 1rem auto;
}

#rsvp-list li {
    text-align: left;
    border-radius: 5px;
    background-color: rgba(255, 2555, 255, .7);
    width: 26.5rem;
    height: 100%;
    margin: 1rem auto;
    padding: .5rem;
    letter-spacing: .5px;
}

.rsvp .opening-bottom2 img {
    width: 100rem;
    height: 27rem;
    transform: rotateX(180deg);
    transform: rotateZ(180deg);
}

.rsvp .opening-bottom2 {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: -6.3rem;
    right: 25rem;
    z-index: 1;
}

/* gift css */
.gift {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.gift p {
    display: inline-flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 1.3rem;
    width: 100%;
    margin: 2rem auto;
}

#gift-card {
    z-index: 100;
}

.btn-box {
    display: block;
    width: 50%; 
    max-width: 30rem; 
    margin: 1.5rem auto;
    background: var(--background-button);
    color: var(--text-huruf-sambung);
    box-shadow: var(--shadow);
    transition: 1s;
}

.collapse {
    display: none;
}

.show {
    display: block;
}

.btn-box:hover {
    background-color: var(--text-huruf-sambung);
    color: var(--white);
}
.credit-card {
	background: url(assets/img/card-background.png);
	background-size: cover;
	border-radius: 1.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	padding: 2rem;
	width: 30rem;
	color: var(--text-color);
	position: absolute;
}

.card-logo {
	width: 7.5rem;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}

.card-container {
	display: flex;
	align-items: center;
	margin-top: 5rem;
}

#alamat {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#alamat .alamat {
    font-size: 1.1rem;
    color: var(--text-huruf-sambung);
    margin-bottom: .5rem;
}

#alamat .card-number {
    font-family: 'Lora', sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: 1px;
}

.card-sim {
	width: 3rem;
	margin-right: 1rem;
}

.card-number {
	font-family: 'Courier New', Courier, monospace;
	font-size: 2.2rem;
}

.card-name {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.6rem;
	text-align: left;
	margin-top: 1rem;
}

.copy-button {
	font-family: 'Courier New', Courier, monospace;
	position: absolute;
    width: auto;
    max-width: none;
    margin: 0;
	top: .5rem;
	left: 1.5rem;
	background-color: white;
	color: black;
	border: none;
	padding: .5rem 1rem;
	border-radius: .5rem;
	cursor: pointer;
	margin-top: 2rem;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gift .footer-section {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    bottom: 100px;
    z-index: 1;
}

.gift .footer-section img {
    width: 200px;
    height: 100px;
}

/* doa css */
.doa {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/QUOTE.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.doa .arab {
    color: var(--text-color);
    font-size: 2.3rem;
}

.doa .col-10 {
    z-index: 2;
}

.doa p {
    display: inline-flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 3rem auto;
}

.doa p span {
    margin: 1rem auto;
}

.doa h3 {
    margin-top: 2.5rem;
    color: var(--text-huruf-sambung);
    font-size: 1.5rem;
}


/* penutup section */
.penutup {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-image: url(assets/img/COVER.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: 1;
}

.penutup h4 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 600;
}

.penutup h4:nth-child(1) {
    margin-top: 22rem;
}

.penutup h4:nth-child(3) {
    margin: 2rem auto;
}

#nama-penutup {
    margin: 1rem 0 3rem 0;
}

.penutup h3 {
    color: var(--text-color);
    font-size: 1.4rem;
}

.penutup h2 {
    font-size: 4.3rem;
    margin: 1.2px auto;
}

.penutup .keluarga {
    color: var(--text-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.penutup h5 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 5.5px;
}

.penutup .closed-flower img {
    width: 40rem;
    height: 50rem;
    opacity: .3;
}

.penutup .closed-flower {
    position: absolute;
    width: 100%;
    height: auto;
    right: .28rem;
    top: 10.6rem;
}





.audio-icon-wrapper {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    position: fixed;
    bottom: 2.5rem;
    right: 230px;
    z-index: 10;
    cursor: pointer;
    color: var(--text-huruf-sambung);
    opacity: .7;
    animation: discRotate 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes discRotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (min-width: 471px) {
    .custom-container {
      margin-left: auto;
      margin-right: auto;
    }
  }
  

  @media (max-width: 471px) {
    .custom-container {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 20px;
      max-width: 100%;
    }
  }

@media (max-width: 991px) {
    html {
    }
}

@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .mynavbar .nav-link {
        text-align: center;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 462px) {
    html {
        font-size: 50%;
    }

    .costum-container {
        max-width: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative; 
        overflow: hidden;
    }

    .navbar {
        margin-top: 80px;
    }

    .quote {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .opening {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    .acara {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .lokasi {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .rsvp {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .gift {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .doa {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .penutup {
        min-height: calc(100vh - 100px);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 371px) {

}